<template name="bonusFormOpenSimulator">
    <div class="form-group row">
        <div class="col-md-12">
            <div class="btn btn-success btn-raised" data-toggle="modal" data-target="#cardsetLeitnerSimulatorModal">
                <span class="flex-content"><span class="fas fa-calculator"></span>&nbsp;{{_ "bonus.form.simulator.buttonModal"}}</span>
            </div>
        </div>
    </div>
</template>
